.sn-sparkline-container {
    width: 100%;
    overflow: hidden;
    line-height: 0;

    .sn-sparkline-svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.sn-sparkline-container {
    opacity: 0;
    color: var(--link-primary);
    transition: opacity var(--duration-slower) ease;

    &.sn-sparkline--loaded {
        opacity: 1;
    }
}

.sn-right-sparkline {
    height: 28px;

    .sn-sparkline-svg {
        height: 28px;
    }
}

